@inherits AdoProjectAccessListBase
@using CSRO.Client.Services.Models
@using Blazored.FluentValidation

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-6">
    <div style="max-width: 50%" class="m-4">

        @if (ShowDetails)
        {
            <MudFab Color="Color.Primary"
                    Size="Size.Small"
                    IconSize="Size.Medium"
                    Label="Collapse"
                    OnClick="@((e) => CreateNew(false))"
                    Icon="@Icons.Material.Filled.Close"></MudFab>

            <AdoProjectAccess SavedAdoProjectAccess="@SavedAdoProjectAccessHandler"
                              OperatioTypeIdPair="@OperatioTypeIdPair">
            </AdoProjectAccess>
        }
        else
        {
            <MudFab Color="Color.Primary"
                    Size="Size.Small"
                    IconSize="Size.Medium"
                    Label="Request Access"                    
                    OnClick="@((e) => CreateNew(true))"
                    Icon="@Icons.Material.Filled.Add"></MudFab>
        }
    </div>

    <MudText Typo="Typo.h4" GutterBottom="true">Ado Access Requests count: @Requests?.Count</MudText>
    @if (IsLoading)
    {
        <MudGrid>
            <MudItem>
                <MudProgressCircular Color="Color.Default" Indeterminate="true" />
            </MudItem>
            <MudItem>
                <MudText>@LoadingMessage</MudText>
            </MudItem>
        </MudGrid>
    }
    else
    {
        @if (CanApprove)
        {
            <MudCheckBox Label="View in Admin Mode"
                         @bind-Checked="@AdminMode" />

            @if (AdminMode)
            {
                <MudGrid>
                    <MudItem>
                        <MudButton Disabled="@IsButtonDisabled" ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                   OnClick="ApproveAsync"
                                   Color="Color.Primary" Class="ml-auto">Approve</MudButton>
                    </MudItem>
                    <MudItem>
                        <MudButton Disabled="@IsButtonDisabled" ButtonType="ButtonType.Reset" Variant="Variant.Filled"
                                   OnClick="RejectAsync"
                                   Color="Color.Error" Class="ml-auto">Reject</MudButton>
                    </MudItem>
                </MudGrid>

                <MudText Class="mt-6"
                         Inline="true">Selected items: @(selectedItems == null ? "" : string.Join(", ", selectedItems.OrderBy(x => x.Name).Select(x => x.Name)))</MudText>

            }
        }

        <MudTable Dense="true"
                  MultiSelection="@AdminMode"
                  @bind-SelectedItems="selectedItems"
                  Items="Requests" Hover="true"
                  SortLabel="Sort By" Elevation="0">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<AdoProjectAccessModel, object>(x => x.Id)">Id</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<AdoProjectAccessModel, object>(x => x.Organization)">Organization</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<AdoProjectAccessModel, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<AdoProjectAccessModel, object>(x => x.Status)">Status</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<AdoProjectAccessModel, object>(x => x.CreatedBy)">Created By</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<AdoProjectAccessModel, object>(x => x.Justification)">Justification</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<AdoProjectAccessModel, object>(x => x.CreatedAt)">Created At</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id">@context.Id</MudTd>
                <MudTd DataLabel="Organization">@context.Organization</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Status">@context.Status</MudTd>
                <MudTd DataLabel="Created By">@context.CreatedBy</MudTd>
                <MudTd DataLabel="Justification">@context.Justification</MudTd>
                <MudTd DataLabel="Created At">@context.CreatedAt</MudTd>
                @if (AdminMode == false)
                    {
                    <MudPaper Class="demo-grid-paper" Elevation="0">
                        <MudTooltip Text="Edit" Delayed="1">
                            <MudIconButton OnClick="@(e => EditRequestAsync(context))" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
                        </MudTooltip>
                        <MudTooltip Text="Details">
                            <MudIconButton OnClick="@(e => ViewRequestAsync(context))" Icon="@Icons.Material.Filled.Info"></MudIconButton>
                        </MudTooltip>
                        <MudTooltip Text="Delete">
                            <MudIconButton OnClick="@(e => DeleteRequestAsync(context))" Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                        </MudTooltip>
                    </MudPaper>
                    }
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 20, 50 }" />
            </PagerContent>
        </MudTable>
    }
</MudContainer>