@page "/rg/Create"
@using CSRO.Client.Services.Models

<div class="m-1">
    <MudGrid class="mt-6">
        <MudItem xs="6">
            <MudPaper>
                <SubLocRgComp OperationTypeTicket="OperatioType.Create"
                              OnTagSelectedEventParam="@OnTagSelectedEventParam"      
                              IsprivilegedMembersVisible="@IsprivilegedMembersVisible"
                              SubcriptionIdChanged="@SubcriptionIdChangedHandler">
                </SubLocRgComp>
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper>                
                <TagsComp SubcriptionId="@SubcriptionId"
                            IsprivilegedMembersVisible="@IsprivilegedMembersVisible"
                            IsValidationEnabled="@IsTagValidationEnabled"
                            OnTagSelectedEvent="@OnParentTagSelectedEventHandler">
                </TagsComp>                
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {

    [Parameter]
    public string SubcriptionId { get; set; }

    [Parameter]
    public bool IsprivilegedMembersVisible { get; set; } = false;

    public DefaultTag OnTagSelectedEventParam { get; set; }

    [Parameter]
    public bool IsTagValidationEnabled { get; set; }

    private void SubcriptionIdChangedHandler(string subId)
    {
        SubcriptionId = subId;
        IsTagValidationEnabled = true;
    }

    private void OnParentTagSelectedEventHandler(DefaultTag defaultTag)
    {
        OnTagSelectedEventParam = defaultTag;
    }

}
