@inherits RestartVmCsroBase
@using CSRO.Client.Services.Models

<MudContainer>
    <div style="max-width: 50%" class="m-4">
        <MudText Typo="Typo.h4" GutterBottom="true">@Title</MudText>

        @if (Success == false)
        {
            <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        @if (OperationTypeTicket != OperatioType.Create)
                        {
                            <MudTextField Label="Id:"
                                          Disabled="true"
                                          @bind-Value="model.Id" For="@(() => model.Id)" />

                            <MudTextField Label="Current Status:"
                                          Disabled="true"
                                          @bind-Value="model.Status" For="@(() => model.Status)" />
                        }

                        <MudTextField Label="Subcription Id:"
                                      Disabled="@IsReadOnly"
                                      @bind-Value="model.SubcriptionId" For="@(() => model.SubcriptionId)" />

                        <MudTextField Label="Resorce Group:"
                                      Disabled="@IsReadOnly"
                                      @bind-Value="model.ResorceGroup" For="@(() => model.ResorceGroup)" />

                        <MudTextField Label="Vm Name:" HelperText="Name of Virtual Machine"
                                      Disabled="@IsReadOnly"
                                      @bind-Value="model.VmName" For="@(() => model.VmName)" />

                        <MudTextField Label="Note:"
                                      Disabled="@IsReadOnly"
                                      @bind-Value="model.Note" For="@(() => model.Note)" />

                        @if (IsReadOnly)
                        {
                            <MudTextField Label="Created By:" Disabled="true"
                                          @bind-Value="model.CreatedBy" For="@(() => model.CreatedBy)" />

                            <MudTextField Label="Created At:" Disabled="true"
                                          @bind-Value="model.CreatedAt" For="@(() => model.CreatedAt)" />

                            <MudTextField Label="Modified At:" Disabled="true"
                                          @bind-Value="model.ModifiedAt" For="@(() => model.ModifiedAt)" />
                        }

                    </MudCardContent>
                    @if (!IsReadOnly)
                    {
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                        </MudCardActions>
                    }
                </MudCard>
                @if (!IsReadOnly)
                {
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
                        Fill out the form correctly to see the success message.
                    </MudText>

                    <MudExpansionPanels>
                        <MudExpansionPanel Text="Show Validation Summary">
                            @if (Success)
                            {
                                <MudText Color="Color.Success">Success</MudText> }
                            else
                            {
                                <MudText Color="@Color.Error">
                                    <ValidationSummary />
                                </MudText>
                            }
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                }
            </EditForm>
        }
        else
        {
            <MudText Color="Color.Success" Typo="Typo.h4">Success</MudText>
            <MudButton OnClick="GoBack" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Go Back</MudButton>
        }
    </div>
</MudContainer>
