@inherits RestartVmCsroBase
@using CSRO.Client.Services.Models
@using CSRO.Client.Services.Validation
@using Blazored.FluentValidation

<MudContainer>
    <div style="max-width: 50%" class="m-4">
        <MudText Typo="Typo.h4" GutterBottom="true">@Title</MudText>
        @if (IsLoading)
        {
            <MudText>@LoadingMessage</MudText>
            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
        }

        @if (Success == false)
        {
        <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        @*<DataAnnotationsValidator />*@
        <FluentValidationValidator />
        <MudCard>
            <MudCardContent>
                @if (OperationTypeTicket != OperatioType.Create)
                {
                    <MudTextField Label="Current Vm States:"
                                  Disabled="true"
                                  Class="text-warning"
                                  @bind-Value="Model.VmState" For="@(() => Model.VmState)" />

                    <MudTextField Label="Id:"
                                  Disabled="true"
                                  @bind-Value="Model.Id" For="@(() => Model.Id)" />

                    <MudTextField Label="Status:"
                                  Disabled="true"
                                  @bind-Value="Model.Status" For="@(() => Model.Status)" />

                }
                else
                {
                    <MudAutocomplete T="@IdName" Label="Subcription:" @bind-Value="@SelSubscripion" SearchFunc="@SearchSubs" />
                }
                <MudTextField Label="Subcription Name:"
                              Disabled="true"
                              @bind-Value="Model.SubcriptionName" For="@(() => Model.SubcriptionName)" />


                @if (OperationTypeTicket == OperatioType.Create)
                {
                    <MudAutocomplete T="@ResourceGroup"
                                     Label="Resource Group:" @bind-Value="@SelResourceGroup" SearchFunc="@SearchRgs" />
                }
                else
                {
                    <MudTextField Label="Resorce Group:"
                              Disabled="@IsReadOnly"
                              @bind-Value="Model.ResorceGroup" For="@(() => Model.ResorceGroup)" />
                }

                <MudTextField Label="Vm Name:" HelperText="Name of Virtual Machine"
                              Disabled="@IsReadOnly"
                              @bind-Value="Model.VmName" For="@(() => Model.VmName)" />

                <MudTextField Label="Note:"
                              Disabled="@IsReadOnly"
                              @bind-Value="Model.Note" For="@(() => Model.Note)" />

                @if (IsReadOnly)
                {
                    <MudTextField Label="Created By:" Disabled="true"
                                  @bind-Value="Model.CreatedBy" For="@(() => Model.CreatedBy)" />

                    <MudTextField Label="Created At:" Disabled="true"
                                  @bind-Value="Model.CreatedAt" For="@(() => Model.CreatedAt)" />

                    <MudTextField Label="Modified At:" Disabled="true"
                                  @bind-Value="Model.ModifiedAt" For="@(() => Model.ModifiedAt)" />
                }

            </MudCardContent>
            @if (!IsReadOnly)
            {
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                </MudCardActions>
            }
        </MudCard>
        @if (!IsReadOnly)
        {
            <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
                Fill out the form correctly to see the success message.
            </MudText>

            <MudExpansionPanels>
                <MudExpansionPanel Text="Show Validation Summary">
                    @if (Success)
                    {
                        <MudText Color="Color.Success">Success</MudText> }
                    else
                    {
                        <MudText Color="@Color.Error">
                            <ValidationSummary />
                        </MudText>
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
    </EditForm>
        }
        else
        {
            <MudText Color="Color.Success" Typo="Typo.h4">Success</MudText>
        }
        <MudButton Class="mt-4" OnClick="GoBack" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Go Back</MudButton>
    </div>
</MudContainer>
