@inherits TicketCsroBase
@using CSRO.Client.Services.Models

<MudContainer>
    <div>
        <MudText Typo="Typo.h4" GutterBottom="true">@Title</MudText>

        @if (Success == false)
        {
            <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        @if (OperationTypeTicket != OperatioType.Create)
                        {
                            <MudTextField Label="Id:"
                                          Disabled="true"
                                          @bind-Value="Model.Id" For="@(() => Model.Id)" />
                        }
                        <MudCheckBox Label="On Behalf" @bind-Checked="Model.IsOnBehalf"
                                     Disabled="@IsReadOnly"
                                     @bind-Value="Model.IsOnBehalf" For="@(() => Model.IsOnBehalf)" />

                        <MudTextField Label="Requested For:" HelperText="Name of Person"
                                      Disabled="@IsReadOnly"
                                      @bind-Value="Model.RequestedFor" For="@(() => Model.RequestedFor)" />

                        @if (Model.IsOnBehalf)
                        {
                            <MudTextField Label="Created By:" HelperText="Name of Person"
                                          Disabled="@IsReadOnly"
                                          @bind-Value="Model.CreatedBy" For="@(() => Model.CreatedBy)" />
                        }

                        <MudTextField Label="Description:"
                                      Disabled="@IsReadOnly"
                                      @bind-Value="Model.Description" For="@(() => Model.Description)" />

                        @if (IsReadOnly)
                        {
                            <MudTextField Label="Created By:" Disabled="true"
                                          @bind-Value="Model.CreatedBy" For="@(() => Model.CreatedBy)" />

                            <MudTextField Label="Created At:" Disabled="true"
                                          @bind-Value="Model.CreatedAt" For="@(() => Model.CreatedAt)" />

                            <MudTextField Label="Modified At:" Disabled="true"
                                          @bind-Value="Model.ModifiedAt" For="@(() => Model.ModifiedAt)" />
                        }

                    </MudCardContent>
                    @if (!IsReadOnly)
                    {
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                        </MudCardActions>
                    }
                </MudCard>
                @if (!IsReadOnly)
                {
                    <MudText Typo="Typo.body2" Align="Align.Center" Class="my-4">
                        Fill out the form correctly to see the success message.
                    </MudText>

                    <MudExpansionPanels>
                        <MudExpansionPanel IsExpanded="true" Text="Show Validation Summary">
                            @if (Success)
                            {
                                <MudText Color="Color.Success">Success</MudText> }
                            else
                            {
                                <MudText Color="@Color.Error">
                                    <ValidationSummary />
                                </MudText>
                            }
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                }
            </EditForm>
        }
        else
        {
            <MudText Color="Color.Success" Typo="Typo.h4">Success</MudText>
        }
        <MudButton Class="mt-4" OnClick="GoBack" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Go Back</MudButton>
    </div>
</MudContainer>
