<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>
    <MudNavGroup Title="Easy Sample" Icon="@Icons.Material.Filled.Satellite" Expanded="true" ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 4px;">

        <MudNavLink Href="/ticketcreate" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Create Sample Ticket</MudNavLink>
        <MudNavLink Href="/ticketsview" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Sample Tickets</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Virtual Machine" Icon="@Icons.Material.Filled.Computer" Expanded="true" ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 4px;">
        <MudNavLink Href="/vm/restart" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Refresh">Restart Vm</MudNavLink>
        <MudNavLink Href="/vm/Create" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Create Vm</MudNavLink>
        <MudNavLink Href="/vm" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.ListAlt">Wm Tickets</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Resource Group" Icon="@Icons.Material.Filled.Shop" Expanded="true" ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 4px;">
        <MudNavLink Href="/rg/Create" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Create Resource Group</MudNavLink>
        <MudNavLink Href="/rg/Select" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SelectAll">Select Resource Group</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Ado" Icon="@Icons.Material.Filled.ReportProblem" Expanded="true" ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 4px;">        
        <MudNavLink Href="/ado/AdoRequestsList" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Ado Requests</MudNavLink>
        <MudNavLink Href="/ado/ProjectCreate" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Create Ado Project</MudNavLink>
        <MudNavLink Href="/ado/ProjectApproval" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Approval">Project Approval</MudNavLink>
    </MudNavGroup>    

    <MudNavGroup Title="Other" Icon="@Icons.Material.Filled.Nature" Expanded="true" ExpandIcon="@Icons.Material.Filled.ExpandMore" Style="margin-top: 4px;">
        <MudNavLink Href="/appversion" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.FileCopy">App Version</MudNavLink>
        <MudNavLink Href="/WebSettings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.SettingsApplications">Web Settings</MudNavLink>
    </MudNavGroup>

    @*<MudNavGroup Title="Mud Views" Icon="@Icons.Custom.MudBlazor" Expanded="false" ExpandIcon="@Icons.Material.ExpandMore" Style="margin-top: 4px;">
            <MudNavLink Href="/mcounter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Add">Mud Counter</MudNavLink>
            <MudNavLink Href="/mfetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.List">Mud Fetch data</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Default Views" Icon="@Icons.Material.Insights" Expanded="false" ExpandIcon="@Icons.Material.ExpandMore" Style="margin-top: 4px;">
            <MudNavLink Href="/counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Add">Counter</MudNavLink>
            <MudNavLink Href="/fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.List">Fetch data</MudNavLink>
        </MudNavGroup>*@

</MudNavMenu>
<div class="docs-nav-filler"></div>