<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>
    <MudNavGroup Title="Self Service" Icon="@Icons.Material.Shop" Expanded="true" ExpandIcon="@Icons.Material.ExpandMore" Style="margin-top: 4px;">

        <MudNavLink Href="/ticketcreate" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Add">Create Sample Ticket</MudNavLink>
        <MudNavLink Href="/ticketsview" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.List">Sample Tickets</MudNavLink>

        <MudNavLink Href="/wm/restart" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Refresh">WM Restart</MudNavLink>
        <MudNavLink Href="/wm" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Computer">WM Tickets</MudNavLink>

        <MudNavLink Href="/appversion" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.FileCopy">App Version</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Mud Views" Icon="@Icons.Custom.MudBlazor" Expanded="false" ExpandIcon="@Icons.Material.ExpandMore" Style="margin-top: 4px;">
        <MudNavLink Href="/mcounter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Add">Mud Counter</MudNavLink>
        <MudNavLink Href="/mfetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.List">Mud Fetch data</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Default Views" Icon="@Icons.Material.Insights" Expanded="false" ExpandIcon="@Icons.Material.ExpandMore" Style="margin-top: 4px;">
        <MudNavLink Href="/counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Add">Counter</MudNavLink>
        <MudNavLink Href="/fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.List">Fetch data</MudNavLink>
    </MudNavGroup>

</MudNavMenu>
<div class="docs-nav-filler"></div>