@page "/vm/restart/view/{TicketId}"
@using CSRO.Client.Services.Models

<RestartVmCsro 
               TicketId="@TicketId"
               Refresh="@RefreshParent"
               RefreshChanged="OnRestartRefreshHandler"
               OperationTypeTicket="@OperatioType.View"
               >
</RestartVmCsro>

<div class="m-4">
    <VmTicketHistoryComp RequestId="@TicketId"
                         Refresh="@RefreshParent"
                       OperationTypeTicket="@OperatioType.View">
    </VmTicketHistoryComp>
</div>

@code {
    [Parameter]
    public string TicketId { get; set; }

    [Parameter]
    public bool RefreshParent { get; set; }

    private void OnRestartRefreshHandler(bool refresh)
    {
        RefreshParent = refresh;        
    }
}
